<!DOCTYPE html>
<html>
    <head>
        <title>{{cleantitle}}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="keywords" content=""/>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/css/w3.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


        <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
            .labels{
                font-weight: bold;
            }
            .col{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            pre {
                white-space: pre-wrap;       /* Since CSS 2.1 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                word-wrap: break-word;       /* Internet Explorer 5.5+ */
            }

            table {
              table-layout: fixed;
              /*overflow-x: scroll;*/
              display: block;
            }
            td, th {
              vertical-align: top;
              padding-left: 10px;
              padding-right: 10px;
            }
            .fix {
              position: absolute;
              *position: relative; /*ie7*/
              text-align:center;
            }
            .outer {
              position: relative;
            }
            .inner {
              overflow-x: auto;
              display: inline-block;
            }

            tbody > tr:hover{
                background: #eee;
                cursor: default !important;
            }

            .file-item{
                cursor: pointer;
                list-style: none;
                padding-left: 15px;
            }
            .file-item:hover{
                /*background: #eee;*/
                color: teal;
                font-weight: 600;
            }

            .runnerlogs-item{
                cursor: pointer;
                list-style: none;
                padding-left: 15px;
            }
            .runnerlogs-item:hover{
                /*background: #eee;*/
                color: teal;
                font-weight: 600;
            }
        </style>

        <script src="/static/src/jquery.min.js"></script>
        <script src="/static/src/chartjs-2-8.js"></script>
        <script src="/static/src/update.js?v=0.1.0"></script>
        <script src="/static/src/testmgr.js?v=0.2.8"></script>
        <script src="/static/src/runner.js?v=0.2.1"></script>
        <script src="/static/src/format.js?v=0.2.0"></script>
        <script src="/static/src/format_style.js"></script>
        <script src="/static/src/format_styles/table.js"></script>
        <script src="/static/src/format_styles/scatter.js"></script>

    </head>

    <body>

        <!-- Navbar (sit on top) -->
        <div class="w3-top" style='z-index:9999'>
            <div class="w3-bar w3-white w3-wide w3-padding w3-card">
                <a href="/" class="w3-bar-item w3-button">{{title|safe}}</a>
                <div class="w3-right">
                    <button id="warning-btn" style="display: none; color: orange" class="w3-bar-item w3-button"><b><span id="warning-count"></span> warning(s)</b></button>
                    {% if connected == True %}<a href='/disconnect' style="" class="w3-bar-item w3-button"><b><i class="fas fa-sign-out-alt"></i></b> Disconnect</a>{% endif %}
                    <button id="update-btn" style="display: none; color: red" class="w3-bar-item w3-button"><b>Update</b></button>
                    <!--<span id="update-err" style="display: none; color: red" class="w3-bar-item"></span>-->
                </div>
            </div>
        </div>

        <div class="w3-container" style="margin-top: 80px">

            {% if 'runner' in roles or 'test' in roles or 'debug' in roles %}
            <h3>What to do?</h3>

            <div id="action-node" class="w3-row w3-container">
            </div>
            {%endif%}

            {% if 'viewer' in roles %}
            <div id="stop-alert" style="display: none" class="w3-padding w3-row w3-margin-top w3-panel w3-red w3-text-white">
                <b>Stop:</b> Test execution is going to be stopped.
            </div>
            <div id="pause-alert" style="display: none" class="w3-padding w3-row w3-margin-top w3-panel w3-orange w3-text-white">
                <b>Pause:</b> Runner will be paused at the end of the current test.
            </div>

            <div class="w3-row" id="progress-node"></div>

            <div class="w3-margin-top w3-bar w3-grey w3-text-white">
              <button class="w3-bar-item w3-button tabsel" style="font-weight: bold; background: #444" target="Result" >Result</button>
              <button id="console-open" class="w3-bar-item w3-button tabsel" target="Console">Console</button>
              {% if exportedFiles == True %}
                <button id="exported-file-open" class="w3-bar-item w3-button tabsel" target="Files">Exported files</button>
              {% endif %}
              {% if runnerLogs == True %}
                <button id="runnerlogs-file-open" class="w3-bar-item w3-button tabsel" target="RunnerLogs">Runner logs</button>
              {% endif %}
            </div>

            <div id="Console" class="node" style="display: none">
                <h3>Console:</h3>

                <div id="console-container" class="w3-row w3-container">
                    <pre id="console-msg" style="height:400px; overflow-y: auto; background: #000; color: #fff; resize: vertical"></pre>
                </div>
            </div>

            <div id="RunnerLogs" class="node" style="display: none">
                <h3>Logs:</h3>
                <div class="w3-margin-bottom">
                    <div class="w3-row w3-container">
                        <div class="w3-col l12 m12 s12">
                            <input class="w3-input w3-border" type="text" id="runnerlogs-filter" placeholder="Filter by name..." name="runnerlogs">
                        </div>
                    </div>
                </div>

                <div id="runnerlogs-container" class="w3-row w3-container">
                    <div class="w3-row">
                        <div id="runnerlogs-error"></div>
                    </div>
                    <ul id="runnerlogs-list" style="columns: 3; -webkit-columns: 3; -moz-columns: 3; margin: 0; padding: 0">
                    </ul>
                </div>
            </div>

            <div id="Files" class="node" style="display: none">
                <h3>Files:</h3>
                <div class="w3-margin-bottom">
                    <div class="w3-row w3-container">
                        <div class="w3-col l12 m12 s12">
                            <input class="w3-input w3-border" type="text" id="filename-filter" placeholder="Filter by name..." name="filename">
                        </div>
                    </div>
                </div>

                <div id="filelist-container" class="w3-row w3-container">
                    <div class="w3-row">
                        <div id="files-error"></div>
                    </div>
                    <ul id="exported-list" style="columns: 3; -webkit-columns: 3; -moz-columns: 3; margin: 0; padding: 0">
                    </ul>
                </div>
            </div>

            <div id="Result" class="node">
                <div id="response-node" class="w3-row w3-container w3-margin-top"></div>

                <div id="runner-status" style="display: none" class="w3-margin-top w3-row">
                    <div class="w3-row" style="text-align: center">
                        <div class="w3-col l2"><b>Number of tests:</b> <span id="test-cnt"></span></div>
                        <div class="w3-col l2"><b>Number of success:</b> <span id="success-cnt"></span></div>
                        <div class="w3-col l2"><b>Number of warnings:</b> <span id="warning-cnt"></span></div>
                        <div class="w3-col l2"><b>Number of failures:</b> <span id="failure-cnt"></span></div>
                        <div class="w3-col l2"><b>Failure rate:</b> <span id="failure-rate"></span></div>
                    </div>
                    <div class="w3-row w3-marg/in-top">
                        <canvas height="100px" id="runner-status-graph"></canvas>
                    </div>
                </div>

            </div>
            {% else %}

            <div class="w3-padding w3-row w3-margin-top w3-panel w3-red w3-text-white">
                <b>Error:</b> You are not allowed to open the tester.
            </div>

            {% endif %}

        </div>

        <!-- The Modal -->
        <div id="param-modal" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
                <h4>User input</h4>

                <form id="param-modal-form">
                    <div id="param-div" class="w3-col l12 w3-container w3-margin-bottom">
                        <div id='param-doc' class="w3-container w3-margin-bottom"></div>
                        <label><b id='param-label'></b></label>
                        <input id="param-value" type="text" class="w3-input w3-border-bottom"/>
                    </div>
                    <div class="w3-margin w3-container">
                        <button class="w3-button w3-border"><b>Send</b></button>
                    </div>
                </form>

            </div>
          </div>
        </div>

        <div id="multiparam-modal" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
                <h4>User inputs</h4>

                <form id="multiparam-modal-form">
                    <div id="multiparam-modal-inputs" class="w3-col l12 w3-container w3-margin-bottom">
                    </div>
                    <div class="w3-margin w3-container">
                        <button class="w3-button w3-border"><b>Send</b></button>
                    </div>
                </form>
            </div>
          </div>
        </div>

        <div id="yesno-modal" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
                <h4>User input</h4>

                <div id="yesno-modal-form">
                    <div id="yesno-div" class="w3-col l12 w3-container w3-margin-bottom">
                        <div id='yesno-doc' class="w3-container w3-margin-bottom"></div>
                        <label><b id='yesno-label'></b></label>
                    </div>
                    <div class="w3-margin w3-container" style="text-align: center">
                        <button id='yesno-modal-yesbtn' class="w3-button w3-border"><b>Yes</b></button>
                        <button id='yesno-modal-nobtn' class="w3-button w3-border"><b style="color: red">No</b></button>
                    </div>
                </div>

            </div>
          </div>
        </div>

        <!-- The Modal -->
        <div id="meas-disp-modal" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
                <span onclick="document.getElementById('meas-disp-modal').style.display='none'"  class="w3-button w3-display-topright">&times;</span>
                <div id="meas-disp-node">
                </div>
            </div>
          </div>
        </div>

        {% if 'viewer' in roles %}

        <script>

$( document ).ready(function() {

    $('#runnerlogs-filter').keyup(function(){
        value = $(this).val();
        $('.runnerlogs-item').each(function() {
            if($(this).text().search(value) > -1) {
                $(this).show();
            }else{
                $(this).hide();
            }
        });
    });

    $('#filename-filter').keyup(function(){

        value = $(this).val();
        $('.file-item').each(function() {
            if($(this).text().search(value) > -1) {
                $(this).show();
            }else{
                $(this).hide();
            }
        });

    });

    $('#exported-file-open').click(function(){
        $('#files-error').html('');

        fetch('/files', {
            method: 'GET',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' }
        })

        .then( (response) => {
            if(!response.ok){
                console.log('<b>Server error:</b> HTTP '+response.status);
                return null;
            }
            return response.json()
        })

        .then( (data) => {
            if(data['status'] < 0){
                $('#files-error').html('<div class="w3-red w3-container w3-card" style=""><b>Error:</b> '+data['msg']+'</div>');
            }else{
                $('#exported-list').html('');
                $.each(data['files'], function(key, value){
                    $('#exported-list').append('<li class="file-item"><a href="/file/'+value+'" target="_blank" style="font-variant: small-caps; text-decoration: none;">'+value+'</a></li>');
                });
            }
        });
    });

    $('#runnerlogs-file-open').click(function(){
        $('#runnerlogs-error').html('');

        fetch('/logs', {
            method: 'GET',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' }
        })

        .then( (response) => {
            if(!response.ok){
                console.log('<b>Server error:</b> HTTP '+response.status);
                return null;
            }
            return response.json()
        })

        .then( (data) => {
            if(data['status'] < 0){
                $('#runnerlogs-error').html('<div class="w3-red w3-container w3-card" style=""><b>Error:</b> '+data['msg']+'</div>');
            }else{
                $('#runnerlogs-list').html('');
                $.each(data['files'], function(key, value){
                    $('#runnerlogs-list').append('<li class="runnerlogs-item"><a href="/log/'+value+'" target="_blank" style="font-variant: small-caps; text-decoration: none;">'+value+'</a></li>');
                });
            }
        });
    });

    var runner = new testRunner('progress-node');
    var wid = 0;

    var tests = new testmgr('action-node', function(function_id, params){
        $('#response-node').hide();

        runner.run(function_id, params, function(sts){
            if(sts > 0){
                tests.disableRun(false, 0);
            }
        });
    });

    $('#warning-btn').click(function(){
        $('#action-warning-modal').show(200);
    });

    tests.update();


    var updt = new update('update-btn', function(){
        tests.update();
    });


    //Tab selection
    $('.tabsel').click(function(){
        target = $(this).attr('target');
        $('.tabsel').css('background','none');
        $('.tabsel').css('font-weight','normal');
        $(this).css('background','#444');
        $(this).css('font-weight','bold');
        $('.node').hide();
        $('#'+target).show();
    });

    var ctx = document.getElementById('runner-status-graph').getContext('2d');
    var myBarChart = new Chart(ctx, {type: 'bar', options:{
                        responsive: true,
                        animation : false,
                        scaleOverride : true,
                        scaleSteps : 20,
                        scaleStepWidth : 10,
                        scaleStartValue : 0,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    min: 0
                                }
                            }]
                        },
                        title: {
                            display: false,
                            text: 'Test pass summary'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        legend: {
                            display: true,
                            position: 'right'
                        }
                    }
    });

    //Get results
    var last_result_wid = -1;

    function get_results(){
        fetch('/resultwid', {
            method: 'GET',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' }
        })

        .then( (response) => {
            if(!response.ok){
                console.log('<b>Server error:</b> HTTP '+response.status);
                return null;
            }
            return response.json()
        })

        .then( (data) => {

            //Check for new results
            if(data['run_wid'] != -1 && data['run_wid'] != last_result_wid){

                last_result_wid = data['run_wid'];

                fetch('/result', {
                    method: 'GET',
                    credentials: 'include',
                    headers: { 'Content-Type': 'application/json' }
                })

                .then( (response) => {
                    if(!response.ok){
                        console.log('<b>Server error:</b> HTTP '+response.status);
                        return null;
                    }
                    return response.json()
                })

                .then( (data) => {
                    //Debug function
                    if(data['result']['status'] == -1){

                        $('#response-node').html(
                            '<div style="text-align: justify" class="w3-red w3-container w3-card"><p><b>Server error:</b> '+data['result']['title']+
                            '</p><pre style="margin-top:16px"><code style="background-color: rgba(0,0,0,0);">'+data['result']['exception']+
                            '</pre></code></div>'
                        );

                        $('#response-node').slideDown(200);

                    }
                    else if(data['result']['type'] == 1){
                        $('#response-node').html(''+
                            '<div class="w3-row w3-container">'+
                            '    <h3>'+data['result']['name']+'</h3>'+
                            '    <p>'+data['result']['desc']+'</p>'+
                            '    <h3>Returned data:</h3>'+
                            '    <pre id="action-reply" class="w3-border w3-row w3-container">'+JSON.stringify(data['result']['data'], null, 2)+'</pre>'+
                            '</div>');
                        $('#response-node').slideDown(200);
                    }
                    else if(data['result']['type'] == 0){
                        $('#response-node').format_test(data['result']);

                        //if(data['db']['status'] != 0){
                        //    $('#response-node').prepend('<div style="text-align: justify" class="w3-red w3-container w3-card"><p><b>Server error:</b> '+data['db']['error']+'</p><pre style="margin-top:16px"><code style="background-color: rgba(0,0,0,0);">'+data['db']['traceback']+'</pre></code></div>');
                        //}

                        $('#response-node').slideDown(200);
                    }
                })

            }

        })
    };

    window.setInterval(function(){
        get_results();
    }, 1000);
    get_results();

    //Get status
    var is_running = false;
    var is_paused = false;
    var is_stopped = false;

    function get_status(){
        fetch('/status', {
            method: 'GET',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' }
        })

        .then( (response) => {
            if(!response.ok){
                console.log('<b>Server error:</b> HTTP '+response.status);
                return null;
            }
            return response.json()
        })

        .then( (data) => {

            //Check status change
            if(data['is_running'] != is_running || data['pause_status'] != is_paused || data['stop_status'] != is_stopped){
                tests.update_status(data['is_running'], data['pause_status'], data['stop_status']);
                is_running = data['is_running'];
                is_paused = data['pause_status'];
                is_stopped = data['stop_status'];
            }

            //Update progress bar
            if(data['is_running']){
                runner.set_percent(data['progress'], data['name']);
            } else {
                $('#'+'progress-node').hide();
            }

            //Update statistics (if runner)
            if(data['type'] == 2){
                $('#runner-status').slideDown(100);

                $('#test-cnt').html(data['statistics']['run_cnt']);
                $('#success-cnt').html(data['statistics']['passed_cnt']);
                $('#warning-cnt').html(data['statistics']['warning_cnt']);
                $('#failure-cnt').html(data['statistics']['failed_cnt']);

                var failure_rate = Math.round(data['statistics']['failed_cnt'] / (1+data['statistics']['run_cnt']))
                $('#failure-rate').html(''+failure_rate+' %');

                var chartdata = [];
                var labels = [];

                $.each(data['statistics']['yield'], function(key){
                    chartdata.push({x: key, y: data['statistics']['yield'][key]});
                    labels.push(key);
                });

                var bgColors = ['#88CDC6'];
                var borderColors = ['#88CDC6'];
                for(i=1; i< labels.length; i++){
                    bgColors.push('#cd9a88')
                    borderColors.push('#944a00')
                }

                myBarChart.data = {
                        labels: labels,
                        datasets: [
                            {
                                label:"Pass summary",
                                data:chartdata,
                                fill:false,
                                backgroundColor: bgColors,
                                borderColor:borderColors,
                                borderWidth:1
                            }
                        ]
                    };

                myBarChart.update();

            } else {
                $('#runner-status').hide();
            }
        })
    };

    window.setInterval(function(){
        get_status();
    }, 1000);
    get_status();


    //Get stdout
    var last_stdout = 0;

    $('#console-open').click(function(){
        $('#console-msg').html('');
        last_stdout = 0;
    })

    function get_stdout(){
        fetch('/stdout', {
            method: 'POST',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                timestamp: last_stdout
            }),
        })
        .then( (response) => {
            if(!response.ok){
                return null;
            }
            return response.json()
        })
        .then( (json) => {
            if(json['status'] == 0){
                last_stdout = json['lasttime'];
                $('#console-msg').append(json['str']);
            }
        })
    }

    window.setInterval(function(){
        get_stdout();
    }, 1000);
    get_stdout();


    //Get stdin

    var last_registered_stdintime = -1;

    function get_stdin(){
        fetch('/stdin', {
            method: 'GET',
            credentials: 'include'
        })
        .then( (response) => {
            if(!response.ok){
                return null;
            }
            return response.json()
        })
        .then( (json) => {
            if(json['status'] == 0 || parseFloat(json['inputs'][0]['timestamp']) != last_registered_stdintime){
                $('#param-modal').hide();
                $('#multiparam-modal').hide();
                $('#yesno-modal').hide();
            }

            if(json['status'] == 0) return;

            if(json['status'] > 1){
                alert('More than one STDIN asked? - Internal error: Please, contact the dev.');
                return;
            }

            if(parseFloat(json['inputs'][0]['timestamp']) <= last_registered_stdintime)
                return;

            console.log('STILL UPDATE');
            console.log(parseFloat(json['inputs'][0]['timestamp']));
            console.log(last_registered_stdintime);

            last_registered_stdintime = parseFloat(json['inputs'][0]['timestamp']);

            if(json['inputs'][0]['type'] == 0){
                $('#param-doc').html(json['inputs'][0]['desc']);
                $('#param-label').html(json['inputs'][0]['name']);
                $('#param-modal').show(100, function(){
                    $('#param-value').focus();
                });
                $("#param-modal-form :input").removeAttr("disabled");
            }

            else if(json['inputs'][0]['type'] == 1){
                $('#yesno-doc').html(json['inputs'][0]['desc']);
                $('#yesno-label').html(json['inputs'][0]['name']);
                $('#yesno-modal').show(100);
                $("#yesno-modal-yesbtn").removeAttr("disabled");
                $("#yesno-modal-nobtn").removeAttr("disabled");
            }

            else if(json['inputs'][0]['type'] == 2){
                var input_nodes = '<div class="w3-row">';
                $.each(json['inputs'][0]['params'], function(key, val){
                    input_nodes += ''+
                        '<div class="w3-row">'+
                        '   <div class="w3-col l4 s12">'+val['name']+'</div>'+
                        '   <div class="w3-col l8 s12"><input class="w3-input" name="'+val['name']+'" type="text" style="width: 100%"/></div>'+
                        '</div>';
                });

                input_nodes += '</div>';

                $('#multiparam-modal-inputs').html(input_nodes);
                $('#multiparam-modal-form').attr('param-id', json['inputs'][0]['name']);

                $('#multiparam-modal').show(100, function(){
                        //none
                });
                $("#multiparam-modal-form :input").removeAttr("disabled");
            }
        })
    }

    {% if 'runner' in roles or 'test' in roles or 'debug' in roles %}
    window.setInterval(function(){
        get_stdin();
    }, 500);
    get_stdin();
    {% endif %}

    //Set stdin
    $('#multiparam-modal-form').submit(function(){

        var results = {}
        $('#multiparam-modal-inputs').find('input').each(function(){
            results[$(this).attr('name')] = $(this).val();
        });

        var id = $(this).attr('param-id');

        $("#param-modal-form :input").attr("disabled", true);

        fetch('/stdin', {
            method: 'POST',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                name: id,
                value: results
            }),
        })

        .then( (response) => {
            return; //Nothing to do
        })

        return false;
    });

    $('#param-modal-form').submit(function(){
        var param_val = $('#param-value').val();
        $('#param-value').val('');

        $("#param-modal-form :input").attr("disabled", true);

        fetch('/stdin', {
            method: 'POST',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                value: param_val,
                name: $('#param-label').html()
            }),
        })

        .then( (response) => {
            return; //Nothing to do
        })

        return false;
    });

    $('#yesno-modal-yesbtn').click(function(){
        $("#yesno-modal-yesbtn").attr("disabled", true);
        $("#yesno-modal-nobtn").attr("disabled", true);

        fetch('/stdin', {
            method: 'POST',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                value: true,
                name: $('#yesno-label').html()
            }),
        })

        .then( (response) => {
            return; //Nothing to do
        })

        return false;
    });

    $('#yesno-modal-nobtn').click(function(){
        $("#yesno-modal-yesbtn").attr("disabled", true);
        $("#yesno-modal-nobtn").attr("disabled", true);

        fetch('/stdin', {
            method: 'POST',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                value: false,
                name: $('#yesno-label').html()
            }),
        })

        .then( (response) => {
            return; //Nothing to do
        })

        return false;
    });

});

        </script>
        {% endif %}
    </body>
</html>
