<!DOCTYPE html>
<html>
    <head>
        <title>{{cleantitle}}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="keywords" content=""/>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/css/w3.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit], .btn {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover, .btn:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}


        </style>

        <script src="/static/src/jquery.min.js"></script>
        <script src="/static/src/chartjs-2-8.js"></script>
        <!--<script src="/static/src/update.js"></script> -->
        <script src="/static/src/testmgr.js"></script>
        <script src="/static/src/runner.js"></script>
        <script src="/static/src/format.js"></script>
        <script src="/static/src/format_style.js"></script>
        <script src="/static/src/format_styles/table.js"></script>
        <script src="/static/src/format_styles/scatter.js"></script>

    </head>

    <body>

        <!-- Navbar (sit on top) -->
        <div class="w3-top" style='z-index:9999'>
            <div class="w3-bar w3-white w3-wide w3-padding w3-card">
                <a href="/" class="w3-bar-item w3-button">{{title|safe}}</a>
                <div class="w3-right">
                    <button id="warning-btn" style="display: none; color: orange" class="w3-bar-item w3-button"><b><span id="warning-count"></span> warning(s)</b></button>
                    <!--<button id="update-btn" style="display: none; color: red" class="w3-bar-item w3-button"><b>Update</b></button>-->
                    <!--<span id="update-err" style="display: none; color: red" class="w3-bar-item"></span>-->
                </div>
            </div>
        </div>

        <div class="w3-container" style="margin-top: 80px">

            <div id="" class="w3-row w3-container">
              <form action="/local_connected" method='post'>
                <div class="row">
                  <h2 style="text-align:center">Who are you?</h2>
                  <div class="vl">
                    <span class="vl-innertext">or</span>
                  </div>

                  <div class="col">

                    {% if local_loggin %}
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button class='btn'><i class="fas fa-sign-in-alt" style='margin-right: 16px'></i> Sign-in</button>
                    {% else %}
                        <input type="text" name="username" placeholder="Username" disabled>
                        <input type="password" name="password" placeholder="Password" disabled>
                        <button class='btn' style="cursor: not-allowed; background: rgba(0,0,0,0.1); color: rgba(0,0,0,0.5)" disabled><i class="fas fa-sign-in-alt" style='margin-right: 16px'></i> Sign-in (disabled)</button>
                    {%endif%}

                    {% if local_connection_error %}
                    <div class="w3-text-red">
                        <b>Error:</b> wrong login/password combination.
                    </div>
                    {% endif %}
                  </div>

                  <div class="col">
                    <div class="hide-md-lg">
                      <p>Or sign in with:</p>
                    </div>

                    {% if oauth_loggin %}
                        <a href="/oauth_connect" class="fb btn">
                          <i class="fas fa-sign-in-alt" style='margin-right: 16px'></i> Sign-in with a CERN account
                        </a>
                    {% else %}
                        <span class="fb btn" style="cursor: not-allowed; background: rgba(0,0,0,0.1); color: rgba(0,0,0,0.5)" disabled>
                          <i class="fas fa-sign-in-alt" style='margin-right: 16px'></i> Sign-in with a CERN account (disabled)
                        </span>
                    {%endif%}

                    {% if operator_loggin %}
                        <span id="operator_login" class="fb btn">
                          <i class="fas fa-sign-in-alt" style='margin-right: 16px'></i> Sign-in as operator (no password)
                        </span>
                    {% else %}
                        <span class="fb btn" style="cursor: not-allowed; background: rgba(0,0,0,0.1); color: rgba(0,0,0,0.5)" disabled>
                          <i class="fas fa-sign-in-alt" style='margin-right: 16px'></i>  Sign-in as operator (disabled)
                        </span>
                    {%endif%}



                  </div>

                </div>
              </form>
            </div>

        </div>

        <div id="param-modal" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
                <h4>Operator ID</h4>

                <form action="/operator_connected" method='post'>
                    <div id="param-div" class="w3-col l12 w3-container w3-margin-bottom">
                        <div id='param-doc' class="w3-container w3-margin-bottom">Please, enter your ID.</div>
                        <input id="operator_id" name="operator_id" type="text" class="w3-input w3-border-bottom"/>
                    </div>
                    <div class="w3-margin w3-container">
                        <button class="w3-button w3-border"><b>Connect</b></button>
                    </div>
                </form>

            </div>
          </div>
        </div>

    <script>
        $('#operator_login').click(function(){
            $('#param-modal').show(100, function(){
                $('#operator_id').focus();
            });
        });
    </script>

    </body>
</html>